#ifndef _CONFIG_H_
#define _CONFIG_H_

// Screen params
#define FULL_SCREEN_WIDTH 128
#define FULL_SCREEN_HEIGHT 64

#define FFT_N	256		/* Number of samples (64,128,256,512). Don't forget to clean! */

/* Exponential display averaging */
#define AVG_SAMPLES 8 // best speeds are achieved with powers of 2 

/* ADC Params */
#define ADC_PRESCALE 128 /* AVR ADC prescale value */
#define OVERSAMPS 2 /* Artificial oversampling in software */

/** 
 * Automatic volume control (AVC) parameters
 */
// Volume is a sum of this many columns from right to left
#define VOL_CTRL_NUM_BARS 128
#define VOL_CTRL_MAX_VOL (VOL_CTRL_NUM_BARS*FULL_SCREEN_WIDTH) // don't change

// Desired volume controls: max is 8064 (VOL_CTRL_MAX_VOL)
#define AVC_VOLUME_IDEAL 1600
#define AVC_VOLUME_WINDOW 750
#define AVC_VOLUME_MAX_LEVEL (AVC_VOLUME_IDEAL+AVC_VOLUME_WINDOW)
#define AVC_VOLUME_MIN_LEVEL (AVC_VOLUME_IDEAL-AVC_VOLUME_WINDOW)

// Speed at which the system reacts; larger number is slower
#define AVC_AVERAGING_FACTOR 25

// Bias
#define POT_BIAS_MAX 240 // can't be 255
#define POT_BIAS_MIN 128 
#define POT_BIAS_INIT (POT_BIAS_MIN) // initial level

// Gain
#define POT_GAIN_MAX 254 // can't be 255
#define POT_GAIN_MIN 1 
#ifdef LOG_VALUES
#define POT_GAIN_DS_CHANGE_MULTIPLIER 0.15
#else
#define POT_GAIN_DS_CHANGE_MULTIPLIER 0.65
#endif
#define POT_GAIN_INIT ((POT_GAIN_MAX+POT_GAIN_MIN)/2) // initial level

// Post-FFT division by two steps (i.e. divide by 2,4,8,16 etc)
#define DIVIDE_STEPS_MIN 0
#define DIVIDE_STEPS_MAX 20
// initial level
#ifdef LOG_VALUES
#define DIVIDE_STEPS_INIT (OVERSAMPS) 
#else
#define DIVIDE_STEPS_INIT (OVERSAMPS / 2)
#endif
#define DIVIDE_STEPS_CHANGE_DELAY 10 // delay before changing divide_steps

/* Low pass filter */
#define LPF_OCR 6


/* Overall sampling rate will be F_CPU / (ADC_PRESCALE * OVERSAMPS * 13.5) 
 * see data.xlsx */

/* Triggering */
#define TRIGGERVAL 512 /* ADC trigger value */
#define TRIGGER_MARGIN (OVERSAMPS*60) // ADC trigger value fuzziness must be 0xff or lower

// Backlight stuff
#define BACKLIGHT_FADE_SPEED 3 // higher values = slower fade rate
#define BACKLIGHT_TIMEOUT 1000000
#define SLEEP_TRIGGER (TRIGGERVAL-8)


/* Timers */
#define TIMER0_PRESCALE 1024
#define TIMER1_PRESCALE 1
#define TIMER2_PRESCALE 1
#define SPI_PRESCALE 2

/**
 * Error checking
 */
#if AVC_VOLUME_IDEAL < AVC_VOLUME_WINDOW
#error "AVC_VOLUME_WINDOW must be greater than or equal to AVC_VOLUME_IDEAL"
#endif
#if AVC_VOLUME_MAX_LEVEL > VOL_CTRL_MAX_VOL
#warn "AVC_VOLUME_MAX_LEVEL exceeds the maximum possible value"
#endif

#endif
